<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>internal</title>
	<meta name="author" content="Kory Calmes">
	<style>
		#main_content{
			width: 150px;
			margin: 50px auto;
		
		}
		label, input{
			width: 150px;
			float: left;
			clear: both;
		}
		
		input[type=submit]{
			width: 100px;
			margin-left: 25px;
			margin-top: 10px;
			
		}
	</style>
</head>
<body>
	<div id="main_content">
		<%= yield %>
	</div>
</body>
</html>
